# Node.js
node_modules/
dist/

# Variables de Entorno y Secretos (NUNCA commitear)
.env
*.env
.env.*
Secrets.h
*Secrets.h
**/Secrets.h
edge_esp32/src/Secrets.h

# PlatformIO & Herramientas de Compilación
.pio/
.vscode/

# Archivos compilados de C++ / Arduino
*.bin
*.elf
*.hex
*.uf2
build/

# Logs y SO
*.log
.DS_Store
Thumbs.db